@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

.App {
	height: 100vh;
	width: 100vw;
	background-color: hsl(0, 0%, 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.outter-qr-container {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(212, 45%, 89%);
}

.inner-qr-container {
	height: 600px;
	width: 400px;
	display: flex;
	justify-content: center;
	background-color: white;
	border-radius: 20px;
}

.qr {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
}

.qr-image {
	height: 350px;
	width: 350px;
	border-radius: 10px;
	margin: 20px 20px;
}

.description {
	padding: 0px 45px 45px 45px;
}

.first-sentence {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: hsl(218, 44%, 22%);
	font-size: 25px;
	font-family: "Outfit", sans-serif;
	font-weight: bold 700px;
}

.second-sentence {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: hsl(217, 15%, 56%);
	font-size: 18px;
	font-family: "Outfit", sans-serif;
	font-weight: normal;
}

@media screen and (max-width: 389px) {
	.App {
		width: 100%;
	}

	.inner-qr-container {
		height: 540px;
		width: 300px;
	}

	.qr {
		height: 100%;
		width: 100%;
	}

	.qr-image {
		height: 300px;
		width: 270px;
	}

	.description {
		padding: 0px 15px 15px 15px;
		display: flex;
		flex-direction: column;
	}

	.first-sentence {
		font-size: 22px;
	}

	.second-sentence {
		font-size: 16px;
	}
}
